@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to my Flex App </h1>

    <section>
        <article>
            <p>
                Flex Slippers Limited is an Indian multinational footwear manufacturer based in New Delhi, India.
                The company is the largest footwear manufacturer in India in terms of volume and second-largest in
                terms of revenue. The company makes products under 10 brands including Flite, Sparx, Bahamas and
                Schoolmate.
            </p>
            <p>
                Footwear refers to garments worn on the feet, which typically serves the purpose of protection
                against adversities of the environment such as wear from ground textures and temperature.
                Footwear in the manner of shoes therefore primarily serves the purpose to ease locomotion and
                prevent injuries. Footwear can also be used for fashion and adornment as well as to indicate
                the status or rank of the person within a social structure.
            </p>
        </article>
    </section>

    <section>
        <!-- nth-child(3) -->
        <article>
            <figure>
                <img src="~/images/img1.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img2.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img3.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img4.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img5.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img6.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img7.png" alt="slipper" title="slipper" />
            </figure>
        </article>

        <article>
            <figure>
                <img src="~/images/img8.png" alt="slipper" title="slipper" />
            </figure>
        </article>
    </section>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
