/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}








body {
    background-color: #e0e8b0;
}

header {
    background-color: antiquewhite;
}

section {
    padding: 20px;
    width: 1100px;
    margin: auto;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(91, 91, 91);
    font-family: 'Oxygen', sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    margin-top: 20px;
    letter-spacing: 0.1em;
    text-align: justify;
}


section:nth-child(2),
section:nth-child(3),
section:nth-child(4),
section:nth-child(5),
section:nth-child(6) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    padding-top: 25px;
    padding-bottom: 50px;
}

    section:nth-child(3) > article,
    section:nth-child(4) > article,
    section:nth-child(5) > article {
        padding: 5px;
        width: 250px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.7em;
        margin: 0%;
        text-align: center;
    }

        /*
        section:nth-child(3) > article > h1,
        section:nth-child(4) > article > h1,
        section:nth-child(5) > article > h1,
        section:nth-child(7) > article > h1,
        section:nth-child(8) > article > h1,
        section:nth-child(9) > article > h1,
        section:nth-child(10) > article > h1,
        section:nth-child(12) > article > h1 {
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            filter: drop-shadow(3px 3px 3px rgb(200, 100, 100));
        }
        */

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    filter: drop-shadow(3px 3px 3px rgb(200, 100, 100));
}


img {
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 3px rgb(200, 100, 100));
}


section > article > figure > img:hover {
    width: 275px;
    height: 275px;
}




ul > li {
    padding: 8px;
    font-weight: bold;
}




h3 {
    margin: 15px;
    font-variant: small-caps;
    font-size: 1em;
    font-family: 'Nobile', sans-serif;
    letter-spacing: 0.2em;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 1em;
    font-family: 'Nobile', sans-serif;
    background-color: antiquewhite;
}

